
<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<!--Include a copy right message-->   

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-primary">
      <div class="container-fluid">
        <h6 class="navbar-text"><p>&copy; Copyright 2022. All rights reserved </p></h6>
      
    </nav>

  </footer>