<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<!--End of the webpag --> 

<script src = "/Scrips/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"> </script>
<script src = "/jquery/dist/jquery.min.js"> </script>

</body>
</html>