<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<!--begin of the webpag,
   using content, bootstrap and fortawesome--> 

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
 
  </head>
  

  <body>