<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--General welcome --> 
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
      <h3>Thank you for visiting my website, feel free to check all information available.</h3>
    </span>
  </div>
</nav>
<!--Card with mission statement --> 
</div>
<div class="card" style="width: 80rem;">
    <div class="card-body">
      <h5 class="card-title">Mission Statement</h5>
      
      <p class="card-text">We must consider everyone's strengths and weaknesses, we never know where a solution will come from!</p>
      <a href="/about" class="btn btn-primary" type="button" value="About Me" role="button" aria-pressed="true">About Me</a>
      <a href="/services" class="btn btn-primary" type="button" value="Services" role="button" aria-pressed="true">Services Available</a>
      <a href="/projects" class="btn btn-primary" type="button" value="Projects" role="button" aria-pressed="true">Projects</a>
      <a href="/contact" class="btn btn-primary" type="button" value="Contact" role="button" aria-pressed="true">Contact Me!</a>

    </div>
</div>



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>