<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Include 3 card with project description and image--> 

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/Assets/images/project_managment.png" width="200" height="300" alt="">
                <h5 class="card-title">Developement of a Global Regulatory Process</h5>
                <p class="card-text">Leader in the creation of a Regulatory Global Process for service parts, leading workshops at North America and working cross functionally with several countries as China, India, Germany, Australia, and others.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/Assets/images/Reman.png" width="200" height="300" alt="">
                <h5 class="card-title">Increase sales of Remanufacturing transmission</h5>
                <p class="card-text">Increased transmission remanufacturing parts sales by 30% working on housing return.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/Assets/images/web_pag.png" width="200" height="300"alt="">
                <h5 class="card-title">Developement of a WebPage</h5>
                <p class="card-text">Development of a webpage to include my resume.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/Assets/images/mobileapp.png" width="50" height="500"alt="">
                <h5 class="card-title">Developement of a Mobile</h5>
                <p class="card-text">Development of a simple Mobile to send a message.</p>
            </div>
        </div>
    </div>
</div>







<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>