<!--
*Name: Maiara Almeida
*Student id: 301145511
--> 

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--List with general services--> 
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
            Services available
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Project Management activities</li>
            <li class="list-group-item">Programing</li>
            <li class="list-group-item">Platform Development</li>
            </ul>
        </div>
    </div>
    <!--List with programming languages--> 
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
            Programing Languages
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">C#</li>
            <li class="list-group-item">JAVA</li>
            <li class="list-group-item">SQL</li>
            </ul>
        </div>
    </div>
  <!--List with developer platforms--> 
    <div class="col-sm-3">
        <div class="card">       
            <div class="card-header">
            Developement Platforms
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Website</li>
            <li class="list-group-item">Mobile app</li>
            <li class="list-group-item">Power BI</li>
            </ul>
        </div> 
    </div>
</div>

            



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>